*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    float:left;
}
div{
   float: right;
}
 li{
    float: right;;
} 
 .container{
    width: 500px;
    height: 500px;
    background-color: orange; 
     display:flex ;
     flex-direction: row-reverse; 
 }
h1{
    display: inline;    
}
.imgage{
    float: right;
    /* clear: left; */
} 

 p{
    clear: right;
}