*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column;
    flex-wrap: wrap-reverse; */
    /* flex-flow: row wrap; */
    gap: 10px;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-1{
    /* flex-grow: 5;
    flex-shrink: 3;
    flex-basis: 200px; */
    /* flex: 2 3 0; */
    align-self:flex-end;
    /* justify-self: center; */
}
/* .div-inside{
    width: 20px;
    height: 20px;
    border: 2px solid red;
} */