*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 500px;
    background-color: lightgoldenrodyellow;
}
.container>img{
    width: 5%;
    height: 50px;
    float: right;
    /* clear: left; */
}
.container>p{
    clear: left;
}
.div1 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
  }
  
  .div2 {
    padding: 10px;
    border: 3px solid red;
  }
  
  .div3 {
    float: left;
    padding: 10px;  
    border: 3px solid #73AD21;
  }
  
  .div4 {
    padding: 10px;
    border: 3px solid red;
    clear: right;
  }